#padBookmarkManager {
  position: absolute;
  top: 36px;
  right: 20px;
  display: none;
  z-index:999999;
}

#padBookmarkList {
  max-height: 100px;
  overflow: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.bookmarkPadId {
  font-size: 15px;
  font-weight: bold;
}

.buttonicon-managePadBookmarks:before {
    content: "\272A";
}

.embedMediaButton {
  padding: 10px;
}

div.padBookmark > span.comment {
  color: grey;
  font-size: 11px;
}

div.padBookmark > input.editComment {
  display: none;
  font-size: 11px;
}

.editIcon, .closeIcon, .deleteIcon, .saveIcon {
  color: black;
  font-size: 20px;
  padding: 3px;
}

.closeIcon, .deleteIcon {
  color: red;
}

.closeIcon {
  display: none;
}

.saveIcon {
  color: green;
  font-weight: bold;
  display: none;
}

#infoText {
  color: blue;
  position: absolute;
  right: 10px;
  top: 8px;
}

