<li data-key="padBookmarkManager" data-type="button" id="managePadBookmarks">
  <a class="grouped-left">
    <span id="padBookmarkToolbarButton" class="buttonicon buttonicon-managePadBookmarks"></span>
  </a>
</li>
