<li data-key="padBookmarkManager" data-type="button" id="managePadBookmarks" data-l10n-id="ep_bookmark.bookmarkTitle">
  <a class="grouped-left" title="Manage bookmarks" aria-label="Manage bookmarks">
    <span id="padBookmarkToolbarButton" class="buttonicon buttonicon-managePadBookmarks"></span>
  </a>
</li>
